<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudio Jurídico</title>
</head>

<body style="font-family: 'Arial', sans-serif;margin: 0;padding: 0;background-color: white;color: gray;">
 
    <header style="background-color: #2c3e50; color: white; padding: 20px 0; text-align: center;">
        <h1 style ="margin: 0;"">Dra. Florencia Reybet</h1>
        <p>Abogada especializada en Derecho de familia, sucesiones y trámites jubilatorios</p>
    </header>

    <nav style="margin: 20px 0; text-align: center;">
        <button><a href="{% url 'index' %}"; style="margin: 0 15px; text-decoration: none; color: #2c3e50;">Sobre mí</a></button>
        <button><a href="{% url 'cliente_list' %}"; style="margin: 0 15px; text-decoration: none; color: #2c3e50;">Clientes</a></button>
        <button><a href="{% url 'asesoramiento_list' %}"; style="margin: 0 15px; text-decoration: none; color: #2c3e50;">Asesoramiento</a></button>
        <button><a href="{% url 'cita_list' %}"; style="margin: 0 15px; text-decoration: none; color: #2c3e50;">Cita</a></button>
    </nav>

    <main style="color: black; text-align: justify;">
        {% block main %}
        {% endblock main %}
    </main>
  
</body>
</html>