<!-- <button><a href="{% url 'index' %}"; style="margin: 0 15px; text-decoration: none; color: #2c3e50;">Sobre mí</a></button>
<button><a href="{% url 'cliente_list' %}"; style="margin: 0 15px; text-decoration: none; color: #2c3e50;">Clientes</a></button>
<button><a href="{% url 'asesoramiento_list' %}"; style="margin: 0 15px; text-decoration: none; color: #2c3e50;">Asesoramiento</a></button>
<button><a href="{% url 'cita_list' %}"; style="margin: 0 15px; text-decoration: none; color: #2c3e50;">Cita</a></button> -->
